body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

form {
  margin: 0 auto;
  padding: 10px;
  background-color: #f1f2f3;
  max-width: 400px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select {
    display: inline;
}

input[type="button"] {
    background-color: #2870f0;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
}

input[type="date"],
input[type="button"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

input[type="date"]:focus,
input[type="button"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.doublerow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#result {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

#result p {
  margin: 0;
}